In [8]:
import numpy as np
import pandas as pd
import os 
os.chdir('/users/Abhi/Downloads/')

In [9]:
df=pd.read_csv('credit_dataset_IMB.csv')

In [10]:
df.columns

Index(['credit.rating', 'account.balance', 'credit.duration.months',
       'previous.credit.payment.status', 'credit.purpose', 'credit.amount',
       'savings', 'employment.duration', 'installment.rate', 'marital.status',
       'guarantor', 'residence.duration', 'current.assets', 'age',
       'other.credits', 'apartment.type', 'bank.credits', 'occupation',
       'dependents', 'telephone', 'foreign.worker'],
      dtype='object')

In [11]:
import statsmodels.api as sm 
from sklearn.model_selection import train_test_split

In [12]:
x=df.drop('credit.rating',axis=1)
x=sm.add_constant(x)
y=df[['credit.rating']]
xtrain,xtest,ytrain,ytest=train_test_split(x,y,random_state=10,test_size=0.3)

/Users/abhi/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [13]:
xtrain

,const,account.balance,credit.duration.months,previous.credit.payment.status,credit.purpose,credit.amount,savings,employment.duration,installment.rate,marital.status,...,residence.duration,current.assets,age,other.credits,apartment.type,bank.credits,occupation,dependents,telephone,foreign.worker
17853,1.0,3,21,3,1,2993,1,2,3,3,...,2,1,28,1,2,2,2,1,1,1
15963,1.0,1,29,2,1,6582,1,4,4,4,...,4,4,62,2,1,1,4,2,2,1
20106,1.0,3,15,3,1,2360,3,2,2,3,...,2,3,36,2,2,1,3,1,2,1
15525,1.0,1,56,3,4,4731,3,2,2,2,...,2,2,64,1,3,1,2,2,2,1
5234,1.0,2,7,1,3,12072,4,2,2,2,...,2,2,71,1,3,2,2,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9372,1.0,1,39,3,2,14179,4,3,4,3,...,4,2,30,2,2,2,4,1,2,1
7291,1.0,1,50,2,4,2360,3,2,2,2,...,2,2,47,2,1,1,2,1,1,1
17728,1.0,3,37,3,1,15991,1,2,2,2,...,2,2,32,2,1,2,2,1,2,1
7293,1.0,3,36,1,3,2267,2,4,4,4,...,4,4,49,1,2,2,4,1,1,1
17673,1.0,3,50,2,4,12477,3,1,1,1,...,1,1,29,1,1,1,1,1,1,1

In [14]:
from statsmodels.api import Logit

In [15]:
model=Logit(ytrain,xtrain).fit()

Optimization terminated successfully.
         Current function value: 0.052043
         Iterations 12

In [16]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          credit.rating   No. Observations:                14448
Model:                          Logit   Df Residuals:                    14427
Method:                           MLE   Df Model:                           20
Date:                Fri, 12 Aug 2022   Pseudo R-squ.:                  0.3630
Time:                        14:10:53   Log-Likelihood:                -751.91
converged:                       True   LL-Null:                       -1180.4
Covariance Type:            nonrobust   LLR p-value:                1.102e-168
==================================================================================================
                                     coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                             -2.8878      0.956     -3.020      0.003      -4.762      -1.014
account.balance                    0.5144      0.093      5.539      0.000       0.332       0.696
credit.duration.months            -0.0042      0.005     -0.801      0.423      -0.015       0.006
previous.credit.payment.status     0.0593      0.105      0.563      0.573      -0.147       0.266
credit.purpose                    -0.4698      0.079     -5.950      0.000      -0.624      -0.315
credit.amount                      0.0001   2.19e-05      5.458      0.000    7.66e-05       0.000
savings                            0.5863      0.080      7.338      0.000       0.430       0.743
employment.duration                0.6427      0.099      6.470      0.000       0.448       0.837
installment.rate                  -0.3666      0.097     -3.780      0.000      -0.557      -0.177
marital.status                     0.3742      0.089      4.207      0.000       0.200       0.549
guarantor                          0.1004      0.248      0.406      0.685      -0.385       0.586
residence.duration                -0.3529      0.092     -3.857      0.000      -0.532      -0.174
current.assets                    -0.2279      0.105     -2.166      0.030      -0.434      -0.022
age                                0.0327      0.006      5.743      0.000       0.022       0.044
other.credits                     -0.3176      0.172     -1.850      0.064      -0.654       0.019
apartment.type                     0.1133      0.108      1.046      0.295      -0.099       0.326
bank.credits                       0.1404      0.157      0.893      0.372      -0.168       0.448
occupation                        -0.4071      0.140     -2.900      0.004      -0.682      -0.132
dependents                         0.7427      0.196      3.792      0.000       0.359       1.127
telephone                          0.1826      0.156      1.174      0.240      -0.122       0.488
foreign.worker                     3.5144      0.585      6.002      0.000       2.367       4.662
==================================================================================================

Possibly complete quasi-separation: A fraction 0.15 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [17]:
xtest=sm.add_constant(xtest)

/Users/abhi/opt/anaconda3/lib/python3.9/site-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [18]:
pred=model.predict(xtest)

In [19]:
thres=[0 if X<0.5 else 1 for X in pred]

In [20]:
from sklearn.metrics import  classification_report

In [21]:
cr=classification_report(ytest,thres)

In [22]:
print(cr)

              precision    recall  f1-score   support

           0       0.52      0.16      0.24        70
           1       0.99      1.00      0.99      6122

    accuracy                           0.99      6192
   macro avg       0.76      0.58      0.62      6192
weighted avg       0.99      0.99      0.99      6192

In [23]:
from sklearn.metrics import roc_curve,roc_auc_score

In [24]:
FPR,TPR,thresh=roc_curve(ytest,pred)

In [25]:
table=pd.DataFrame({'FPR':FPR,'TPR':TPR,'THRESHOLD':thresh,'diff':np.abs(FPR-TPR)})

In [26]:
table.sort_values('diff',ascending=False)

          FPR       TPR  THRESHOLD      diff
60   0.100000  0.888598   0.974497  0.788598
76   0.142857  0.927148   0.959051  0.784291
68   0.114286  0.897582   0.971985  0.783297
67   0.114286  0.896276   0.972325  0.781990
66   0.114286  0.895949   0.972342  0.781663
..        ...       ...        ...       ...
215  0.971429  1.000000   0.176151  0.028571
214  0.971429  0.999673   0.188044  0.028245
1    0.000000  0.000163   0.999997  0.000163
0    0.000000  0.000000   1.999997  0.000000
216  1.000000  1.000000   0.157317  0.000000

[217 rows x 4 columns]

In [27]:
thres1=[0 if X<0.97 else 1 for X in pred]

In [28]:
cr=classification_report(ytest,thres1)

In [29]:
print(cr)

              precision    recall  f1-score   support

           0       0.09      0.87      0.17        70
           1       1.00      0.90      0.95      6122

    accuracy                           0.90      6192
   macro avg       0.55      0.89      0.56      6192
weighted avg       0.99      0.90      0.94      6192

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
dt=DecisionTreeClassifier(max_depth=5)
model=dt.fit(xtrain,ytrain)

In [32]:
pred=model.predict_proba(xtest)[:,1]

In [33]:
pred

array([0.99719326, 1.        , 0.99719326, ..., 0.98544093, 1.        ,
       1.        ])

In [34]:
fpr,tpr,thres=roc_curve(ytest,pred)

In [35]:
table=pd.DataFrame({'FPR':fpr,'TPR':tpr,'thresh':thres,'diff':np.abs(fpr-tpr)})

In [36]:
table.sort_values('diff',ascending=False)

         FPR       TPR    thresh      diff
5   0.171429  0.876348  0.974359  0.704919
3   0.142857  0.847762  0.985441  0.704905
4   0.171429  0.874551  0.983607  0.703122
6   0.242857  0.919144  0.973822  0.676287
2   0.028571  0.684417  0.997193  0.655845
8   0.285714  0.940869  0.954545  0.655155
7   0.285714  0.940052  0.967262  0.654338
9   0.385714  0.952303  0.894040  0.566589
1   0.014286  0.511434  1.000000  0.497148
10  0.614286  0.983339  0.888462  0.369053
11  0.900000  0.997877  0.751092  0.097877
12  0.985714  1.000000  0.581395  0.014286
0   0.000000  0.000000  2.000000  0.000000
13  1.000000  1.000000  0.000000  0.000000

In [37]:
thresh=[0 if X<0.974 else 1 for X in pred]

In [38]:
print(classification_report(ytest,thresh))

              precision    recall  f1-score   support

           0       0.07      0.83      0.13        70
           1       1.00      0.88      0.93      6122

    accuracy                           0.88      6192
   macro avg       0.53      0.85      0.53      6192
weighted avg       0.99      0.88      0.92      6192

In [39]:
conda install imblearn

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - imblearn

Current channels:

  - https://repo.anaconda.com/pkgs/main/osx-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/osx-64
  - https://repo.anaconda.com/pkgs/r/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.



Note: you may need to restart the kernel to use updated packages.

In [40]:
pip install -U imbalanced-learn

Requirement already satisfied: imbalanced-learn in /Users/abhi/opt/anaconda3/lib/python3.9/site-packages (0.9.1)
Requirement already satisfied: scikit-learn>=1.1.0 in /Users/abhi/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn) (1.1.2)
Requirement already satisfied: joblib>=1.0.0 in /Users/abhi/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/abhi/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn) (1.20.3)
Requirement already satisfied: scipy>=1.3.2 in /Users/abhi/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn) (1.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/abhi/opt/anaconda3/lib/python3.9/site-packages (from imbalanced-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [41]:
import SMOTE module from imblearn library

SyntaxError: invalid syntax (447384655.py, line 1)

In [42]:
from imblearn.over_sampling import SMOTE

In [46]:
sm=SMOTE(random_state=2)
xtrain_res,ytrain_res=sm.fit_resample(xtrain,ytrain)

In [47]:
xtrain_res.shape,xtrain.shape

((28436, 21), (14448, 21))

In [48]:
model3=Logit(ytrain_res,xtrain_res).fit()

Optimization terminated successfully.
         Current function value: 0.171844
         Iterations 12

In [49]:
model3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          credit.rating   No. Observations:                28436
Model:                          Logit   Df Residuals:                    28415
Method:                           MLE   Df Model:                           20
Date:                Fri, 12 Aug 2022   Pseudo R-squ.:                  0.7521
Time:                        14:13:47   Log-Likelihood:                -4886.5
converged:                       True   LL-Null:                       -19710.
Covariance Type:            nonrobust   LLR p-value:                     0.000
==================================================================================================
                                     coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                            -24.1185      0.685    -35.235      0.000     -25.460     -22.777
account.balance                    1.2695      0.041     31.159      0.000       1.190       1.349
credit.duration.months             0.0082      0.002      3.966      0.000       0.004       0.012
previous.credit.payment.status     0.2561      0.039      6.582      0.000       0.180       0.332
credit.purpose                    -0.4663      0.028    -16.868      0.000      -0.520      -0.412
credit.amount                      0.0001   7.55e-06     16.317      0.000       0.000       0.000
savings                            1.1011      0.029     38.104      0.000       1.044       1.158
employment.duration                1.0316      0.039     26.522      0.000       0.955       1.108
installment.rate                  -0.1560      0.032     -4.921      0.000      -0.218      -0.094
marital.status                     0.5036      0.035     14.430      0.000       0.435       0.572
guarantor                          2.4329      0.144     16.884      0.000       2.150       2.715
residence.duration                -0.4314      0.037    -11.510      0.000      -0.505      -0.358
current.assets                    -0.2714      0.039     -7.016      0.000      -0.347      -0.196
age                                0.0416      0.002     19.701      0.000       0.037       0.046
other.credits                      0.6345      0.054     11.707      0.000       0.528       0.741
apartment.type                     0.4919      0.042     11.851      0.000       0.411       0.573
bank.credits                       1.3870      0.059     23.319      0.000       1.270       1.504
occupation                        -0.9089      0.047    -19.390      0.000      -1.001      -0.817
dependents                         2.9392      0.086     34.228      0.000       2.771       3.108
telephone                          0.9827      0.060     16.471      0.000       0.866       1.100
foreign.worker                     7.6546      0.585     13.086      0.000       6.508       8.801
==================================================================================================

Possibly complete quasi-separation: A fraction 0.18 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [54]:
pred=model3.predict(xtest)

In [55]:
thres=[0 if X<0.5 else 1 for X in pred]

In [56]:
cr=classification_report(ytest,thres)

In [57]:
print(cr)

              precision    recall  f1-score   support

           0       0.11      0.83      0.19        70
           1       1.00      0.92      0.96      6122

    accuracy                           0.92      6192
   macro avg       0.55      0.87      0.57      6192
weighted avg       0.99      0.92      0.95      6192

In [58]:
dt=DecisionTreeClassifier(max_depth=5)
model4=dt.fit(xtrain_res,ytrain_res)

In [60]:
pred=model4.predict_proba(xtest)[:,1]

In [61]:
fpr,tpr,thres=roc_curve(ytest,pred)

In [63]:
table=pd.DataFrame({'FPR':fpr,'TPR':tpr,'thresh':thres,'diff':np.abs(fpr-tpr)})

In [64]:
table.sort_values('diff',ascending=False)

         FPR       TPR    thresh      diff
10  0.114286  0.841392  0.774275  0.727106
7   0.042857  0.761679  0.947368  0.718822
6   0.042857  0.761026  0.954545  0.718169
5   0.042857  0.760209  0.956044  0.717352
9   0.085714  0.800882  0.913621  0.715168
8   0.071429  0.776054  0.922727  0.704625
4   0.042857  0.745835  0.976378  0.702978
3   0.042857  0.737831  0.996205  0.694974
2   0.028571  0.701405  0.996396  0.672833
11  0.214286  0.867037  0.772640  0.652751
1   0.014286  0.662365  1.000000  0.648080
12  0.285714  0.886312  0.468619  0.600597
13  0.328571  0.903626  0.402707  0.575055
14  0.428571  0.919144  0.355183  0.490573
0   0.000000  0.000000  2.000000  0.000000
15  1.000000  1.000000  0.090071  0.000000

In [65]:
thresh=[0 if X<0.77 else 1 for X in pred]

In [66]:
print(classification_report(ytest,thresh))

              precision    recall  f1-score   support

           0       0.06      0.79      0.12        70
           1       1.00      0.87      0.93      6122

    accuracy                           0.87      6192
   macro avg       0.53      0.83      0.52      6192
weighted avg       0.99      0.87      0.92      6192

In [68]:
from sklearn.ensemble import RandomForestClassifier

In [76]:
from time import time

In [107]:
start=time()

In [108]:
rc=RandomForestClassifier(n_estimators=400,random_state=494)

In [109]:
model5=rc.fit(xtrain_res,ytrain_res)

/var/folders/3_/v3zxr5qs2132z44ltsvfwrb80000gn/T/ipykernel_1570/97396728.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model5=rc.fit(xtrain_res,ytrain_res)

In [110]:
end=time()
(end-start)/60

0.11337023576100667

In [111]:
pred=model5.predict(xtest)

In [112]:
cr=classification_report(ytest,pred)

In [113]:
print(cr)

              precision    recall  f1-score   support

           0       0.62      0.53      0.57        70
           1       0.99      1.00      1.00      6122

    accuracy                           0.99      6192
   macro avg       0.81      0.76      0.78      6192
weighted avg       0.99      0.99      0.99      6192

In [114]:
import random

In [116]:
df1=df.loc[df['credit.rating']==1,]

In [118]:
df2=df.loc[df['credit.rating']==0,]

In [119]:
df2.shape

(300, 21)

In [123]:
a=random.sample(range(20340),k=300)

In [125]:
df3=df1.iloc[a,]

In [128]:
final=pd.concat([df3,df2])

In [129]:
final.shape

(600, 21)